<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero Sidebar</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css" >
  <link rel="stylesheet" href="static/css/keen-dashboards.css" >
</head>
<body class="application">



  {% include 'header.html' %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3" style="position: fixed">
            <!-- <a class="btn btn-primary" background color = #b8c4f2 href="{% url 'home' %}" role="button">View User Feed</a> -->
            <a class="twitter-timeline"
               height= "700"
      href="https://twitter.com/osframework" data-chrome="nofooter">
      Tweets by @twittername</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <div class="col-sm-3">
      </div>

      <div class="col-sm-9">
          <h2> Followed Users </h2>
          <hr>
        <div class="row">
          {%for user in users %}
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-stage">
                <div class = "row">
                <div class="col-sm-6">
                <img src="{{user.photo}}" width="100" />
                </div>
                <div class="col-sm-6">
                  <h5>{{user.full_name}}</h5>
                    <p>Open Since : {{user.date_registered}}</p>
                    <p> Number of Public Projects: {{user.numProjects}}</p>


                </div>
                </div>


              </div>
              <div class="chart-notes">
                  <p><a href="https://osf.io/{{user.id}}">View User</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          <h2> Followed projects </h2>
          <hr>
          {% for project in projects %}
          {% if project.description %}
          <div class = "row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                      <a class="twitter-share-button" href="https://twitter.com/share" data-size="large" data-text="Check out this project it's so spicily open" data-url="https://osf.io/{{project.id}}" data-hashtags="openscience" data-related="twitterapi,twitter"> Tweet </a>
                            </div>


              <div class="chart-stage">
                <h3>{{project.title}}</h3>

                <p> Date created: {{project.date_created}}   </p>
                <p>{{project.description}}</p>


                <p><a href="https://osf.io/{{project.id}}">View details</a></p>
              </div>
              {%if project.tags%}
              <div class="chart-notes">
                  {% for tag in project.tags%}
                  <a class="btn btn-primary" href="https://osf.io/search/?q=tags:(%22{{tag}}%22)" role="button">{{tag}}</a>
                  {% endfor %}
                  </div>
              {% endif %}
            </div>
          </div>
        </div>
          {% endif %}
          {% endfor %}

      </div>
    </div>
  </div>



    <hr>

    <p class="small text-muted">Built with Bootstrap</a></p>

  <script src="static/lib/jquery/dist/jquery.min.js"></script>
  <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="static/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <script src="static/lib/keen-js/dist/keen.min.js"></script>
  <script src="static/js/meta.js"></script>

</body>
</html>
